<a href="https://colab.research.google.com/github/SUDHAR-07/Digital_nurture/blob/main/DA_Assignment_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s = "Hi there Sam!"
s = s.split()

In [4]:
print(s)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
print('The diameter of{} is{} kilometres'.format(planet,diameter));

The diameter ofEarth is12742 kilometres

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
Tuple is immutable. Tuple operations are safe. Tuple consumes less memory

# ** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def domain(email):
  print("your domain is: " + email.split('@')[-1])
  email-input("please Enter your email")
  domainGet(email)

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [14]:
def find(st):
  if 'dog' in st.lower():
    print("True")
  else:
    print("False")
st = "Is there a dog here?"
find(st)

True

In [15]:
find('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
value = 'This dog runs faster than other dog dude!';
def count(value):
  c = 0
  for word in value.lower().split():
    if word == 'dog' or word == 'dogs':
      c = c + 1
      print(c)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

'Big Ticket'

In [21]:
caught_speeding(86,True)

'Big Ticket'

In [20]:
caught_speeding(70,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [23]:
def week(hours_worked,wages):
  if hours_worked > 40:
    return 40 * wages + (hours_worked - 40) * wages * 1.5
  else:
    return hours_worked * wages
  hours_worked = 50
  wages = 100
  pay = week(hours_worked,wages)
  print(f"Total gross pay: Rs.{pay:.2f}")

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [25]:
d1 = {"EmpId" : 100, "Empname " : "soundarya", "Basicpay" : 10000}
d2 = {"DeptName" : "IT", "DeptId" : 4181}
d1.update(d2)